In [11]:
import pandas as pd
df1 = pd.read_csv('germplasm_info_kor.csv')
df2 = pd.read_csv('germplasm_info_jap.csv')
df3 = pd.read_csv('germplasm_info_US.csv')
df4 = pd.read_csv('germplasm_info_landrace.csv')
df5 = pd.read_csv('110g_6575m.csv')
df6 = pd.read_csv('393g_3977m.csv')

# 110 Korean potato germplasm information

In [13]:
df1

,Unnamed: 0,Clone,Species,Mother,Father,Category,Ploidy,Market,Maturity,Release year,Breeding program,Unnamed: 11,Unnamed: 12
0,1,Mangang,S. tuberosum,Atlantic,IT244159,Korean variety,4x,chip processing,late,2016,"Highland Agriculture Research Institute, Korea",NaN,NaN
1,2,Gangseon,S.tuberosum,DK1-83,Chubaek,Korean variety,4x,table stock,late,2016,"Highland Agriculture Research Institute, Korea",NaN,NaN
2,3,Tamna,S. tuberosum,AJ09,Jeseo,Korean variety,4x,table stock,late,2014,Jeju provincial Agriculture Research Institute...,NaN,NaN
3,4,Dano,S. tuberosum,Superior,KS13,Korean variety,4x,table stock,Int,2015,"Wangsan seed company, Korea",NaN,NaN
4,5,Golden Ball,S. tuberosum,DK1-110,DK1-116,Korean variety,4x,chip processing,Int,2019,"Highland Agriculture Research Institute, Korea",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,106,R5,S. tuberosum,-,-,-,4x,-,-,-,-,NaN,NaN
106,107,R6,S. tuberosum,-,-,-,4x,-,-,-,-,NaN,NaN
107,108,1833,S. tuberosum,-,-,-,4x,-,-,-,-,NaN,NaN
108,109,2048,S. tuberosum,-,-,-,4x,-,-,-,-,NaN,NaN
109,110,B9482-3,S. tuberosum,-,-,-,4x,-,-,-,-,NaN,NaN

# 94 Japan potato germplasm information

In [14]:
df2

,Unnamed: 0,Clone,Species,ploidy,Female,Male,Release year,Category,Market,Unnamed: 9,Unnamed: 10
0,1,Norin1,S.tuberosum,4x,Irish Cobbler,Deodara,1943,Japanese variety,Table,NaN,NaN
1,2,Eniwa,S.tuberosum,4x,Shimakei 267,Shimakei 232,1961,Japanese variety,Starch processing,NaN,NaN
2,3,Yukijiro,S.tuberosum,4x,Kennebec,Norin 2,1961,Japanese variety,French fry processing,NaN,NaN
3,4,Chijiwa,S.tuberosum,4x,S54042-15,Unzen,1962,Japanese variety,Table,NaN,NaN
4,5,Hokkai-aka,S.tuberosum,4x,2070-ab(31),Shimakei 290,1965,Japanese variety,Starch processing,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
89,90,Konayutaka,S.tuberosum,4x,Kon-iku 38,K99009-4,2017 or later,Japanese variety,Starch processing,NaN,NaN
90,91,Sanjyumaru,S.tuberosum,4x,Chokei 107,Haru-akari,2011,Japanese variety,Table,NaN,NaN
91,92,10H17,S.tuberosum,4x,Saikai 35,Pike,-,Japanese advanced breeding clone,Table,NaN,NaN
92,93,Harimaru,S.tuberosum,4x,Saikai 35,Pike,2017,Japanese variety,Table,NaN,NaN
93,94,NagasakiKogane,S.tuberosum,4x,Saikai 35,Saikai 33,2017,Japanese variety,Table,NaN,NaN

# 186 USA potato germplasm information

In [15]:
df3

,Unnamed: 0,Clone,country,Species,Market,Ploidy,Release Year,Release Range,Breeding Program
0,1,A97066-42,US,S. tuberosum Group Tuberosum,French Fry Processing,4x,Advanced Breeding Line,Advanced Breeding Line,"USDA ARS Aberdeen, Idaho"
1,2,AdirondackBlue,US,S. tuberosum Group Tuberosum,Pigmented,4x,2003,2000-2009,Cornell University
2,3,AF2291-10,US,S. tuberosum Group Tuberosum,Chip Processing,4x,Advanced Breeding Line,Advanced Breeding Line,University of Maine
3,4,AF2376-5,US,S. tuberosum Group Tuberosum,Round White Table,4x,Advanced Breeding Line,Advanced Breeding Line,University of Maine
4,5,AF2574-1,US,S. tuberosum Group Tuberosum,Round White Table,4x,Advanced Breeding Line,Advanced Breeding Line,University of Maine
...,...,...,...,...,...,...,...,...,...
181,182,Bintje,NL,S. tuberosum Group Tuberosum,Yellow,4x,1910,pre-1930,Private - K.L. de Vries (Netherlands)
182,183,Patagonia,CL,S. tuberosum Group Tuberosum,Yellow,4x,2009,2000-2009,"INIA, Chile"
183,184,PurplePeruvian,NaN,S. tuberosum Group Tuberosum,Pigmented,4x,NaN,NaN,Unknown
184,185,AllBlue,NaN,S. tuberosum Group Tuberosum,Pigmented,4x,1900,pre-1930,Unknown
185,186,IrishCobbler,NaN,S. tuberosum Group Tuberosum,Round White Table,4x,1876,pre-1930,Unknown

# 14 landrace potato germplaminformation

In [20]:
df4

,Unnamed: 0,Clone,Species,Market,Ploidy,Release Year,Release Range,Breeding Program,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1.0,Bintje,S. tuberosum,Yellow,4x,1910,pre-1930,Private - K.L. de Vries (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,EarlyRose,S. tuberosum,red skinned Round White Table,4x,1867,pre-1930,Private - Albert Bresee (Vermont),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,GarnetChile,S. tuberosum,Pigmented,4x,1857,pre-1930,Private - Rev. Chauncey Goodrich (New York),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,GreenMountain,S. tuberosum,Round White Table,4x,1885,pre-1930,Private - Orson Alexander (Vermont),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Hindenburg,S. tuberosum,Round White Table,4x,1916,pre-1930,Private - Kartz von Kameke (Germany),NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,RussetBurbank,S. tuberosum,French Fry Processing,4x,1908,pre-1930,Private - Luther Burbank (Massachusetts),NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,Triumph,S. tuberosum,Pigmented,4x,early,1878,B.K.Bliss & Sons (New York),NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,MayQueen,S. tuberosum,Table stock,4x,early,1890,UK variety,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,IrishCobbler,S. tuberosum,Round White Table,4x,1876,pre-1930,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,All Blue,S. tuberosum,Pigmented,4x,1900,pre-1930,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11.0,Kintoki-imo,S. tuberosum,Pigmented,4x,NaN,NaN,Japanese landrace,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,Kobo-imo,S. tuberosum,Table,4x,NaN,NaN,Japanese landrace,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13.0,Seinaiji-ki-imo,S. tuberosum,Table,4x,NaN,NaN,Japanese landrace,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14.0,Nemuromurasaki,S. tuberosum,Pigmented,4x,NaN,NaN,Japanese landrace,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Potato 6575 SNP marker information of 110 korean germpalsm

In [17]:
df5

,marker,chr,position,SNP,maf,BakeKing,ArirangNo.1,Triumph,Oryun,RedMoon,...,Daekwan2-41,Chuyoung,Eunseon,Bangul,Saebong,Jeseo,Dami,Geumseon,Jungmo9001,Daekwan1-123
0,solcap_snp_c1_10354,chr01,84979169.0,[A/T],0.21,AAAT,ATTT,ATTT,AAAT,AAAA,...,AAAT,AAAT,AAAT,AAAT,AAAT,AAAA,AAAT,AAAT,AAAT,AAAT
1,solcap_snp_c1_10358,chr01,84900698.0,[T/G],0.20,AAAC,ACCC,ACCC,AAAC,AAAA,...,AAAC,AAAC,AAAC,AAAC,AAAC,AAAA,AAAC,AAAC,AAAC,AAAC
2,solcap_snp_c1_10915,chr01,481295.0,[T/C],0.33,AGGG,AAAA,AAAG,AAAA,AAAG,...,AAAG,AAGG,AAGG,AAAA,AAAG,AAAG,NaN,AAAG,AAGG,AAAG
3,solcap_snp_c1_10918,chr01,497066.0,[T/C],0.38,AGGG,AGGG,AGGG,AAAG,AGGG,...,NaN,AGGG,AAGG,NaN,AGGG,AGGG,AGGG,AAGG,AAGG,AAAG
4,solcap_snp_c1_10924,chr01,551280.0,[A/G],0.41,AGGG,AGGG,AGGG,AAAG,AGGG,...,AAGG,AGGG,AAGG,AAGG,AGGG,AGGG,AGGG,AAGG,AAGG,AAAG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6572,solcap_snp_c2_7995,chr12,57611789.0,[T/C],0.46,NaN,AAGG,AAGG,AAAG,AGGG,...,AGGG,AAGG,AAGG,AAGG,AAGG,AAGG,AAAG,AAAG,AGGG,AAGG
6573,solcap_snp_c2_8037,chr12,57705706.0,[T/C],0.47,AAAG,AAAG,AAGG,AGGG,AAGG,...,AAAG,AAGG,AAGG,AAGG,AAGG,AAGG,AGGG,AAGG,AAAG,AAGG
6574,solcap_snp_c2_9486,chr12,27966948.0,[A/G],0.47,AGGG,AGGG,GGGG,AAAA,GGGG,...,AGGG,AAAA,AAGG,AAAA,AAAA,AAAA,AAGG,AAGG,AAAA,AAAA
6575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Potato 3977 SNP marker information of 393 germplasm merged with Korea, Japan, US and landrace

In [18]:
df6

,marker,chr,position,SNP,maf,Norin1,Eniwa,Yukijiro,Chijiwa,Hokkai-aka,...,Lamoka(NY139),NY142,OR00068-11,PA99N82-4,POR02PG37-2,W2309-7,W2683-2rus,Winema,YankeeChipper,RussetBurbank
0,solcap_snp_c1_3853,chr01,72112445,[T/G],0.05,ABBB,BBBB,BBBB,BBBB,BBBB,...,ABBB,BBBB,BBBB,BBBB,BBBB,BBBB,BBBB,BBBB,ABBB,BBBB
1,solcap_snp_c1_3854,chr01,72112573,[A/G],0.05,ABBB,BBBB,BBBB,BBBB,BBBB,...,ABBB,BBBB,BBBB,BBBB,BBBB,BBBB,BBBB,BBBB,ABBB,BBBB
2,solcap_snp_c1_4615,chr01,74352528,[T/C],0.05,AAAA,AAAA,AAAA,AAAA,AAAA,...,AAAA,AAAA,AAAA,AAAA,AAAA,AAAA,AAAA,AAAA,AAAB,AAAA
3,solcap_snp_c2_49935,chr01,4603173,[A/G],0.05,AAAA,AAAA,AAAA,AAAB,AAAA,...,AAAA,AAAA,AAAA,AAAB,AAAA,AAAA,AAAA,AAAA,AAAB,AAAA
4,solcap_snp_c1_6668,chr01,2753906,[T/C],0.05,BBBB,BBBB,BBBB,BBBB,BBBB,...,ABBB,ABBB,BBBB,BBBB,BBBB,ABBB,BBBB,BBBB,BBBB,BBBB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3972,solcap_snp_c2_23308,chr12,53190167,[A/G],0.48,AABB,AAAB,AABB,AAAB,ABBB,...,AAAB,AAAA,BBBB,AABB,AAAA,AAAA,AABB,ABBB,AAAB,AAAB
3973,solcap_snp_c2_34807,chr12,8030835,[T/C],0.49,ABBB,AABB,ABBB,ABBB,AABB,...,AABB,AAAB,AAAB,ABBB,AAAB,AABB,AABB,AAAB,ABBB,AAAA
3974,solcap_snp_c2_23284,chr12,53304636,[A/G],0.49,AAAB,AAAB,AABB,AABB,ABBB,...,AAAB,ABBB,ABBB,AAAB,ABBB,BBBB,ABBB,BBBB,ABBB,AABB
3975,solcap_snp_c2_25372,chr12,1324476,[T/C],0.50,AABB,AAAB,AABB,AABB,ABBB,...,AAAB,AAAB,ABBB,AABB,ABBB,AAAB,AAAB,AABB,AAAB,AABB
3976,solcap_snp_c1_14396,chr12,48732241,[T/C],0.50,AABB,AABB,AABB,AAAB,AABB,...,AABB,AAAB,ABBB,AAAB,AAAB,AAAB,AABB,AABB,ABBB,AABB